/*Selector Universal*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*SASS*/
/*NavBar*/
.navegador {
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.shop {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 25px;
}

.aboutus {
  margin-top: 30px;
  font-size: 18px;
}

.sale {
  margin-top: 30px;
  font-size: 18px;
}

.contact {
  margin-top: 30px;
  font-size: 18px;
}

.buscador {
  margin-top: 30px;
}

.cuenta {
  margin-top: 30px;
}

.logo {
  margin-top: 15px;
}

a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 15px;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*CONTENIDO SHOP*/
.boton1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.grid-shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 15px;
  column-gap: 25px;
  margin-left: 5px;
  justify-content: space-between;
}

.grid-shop > div {
  padding: 0px;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
}

.card-subtitle {
  margin-top: 3px;
  font-size: 14px;
}

.card-title2 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.card-subtitle2 {
  margin-top: 3px;
  font-size: 14px;
  text-align: center;
}

/*ANIMACIONES-HOVER*/
.producto1 {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.producto1 img {
  transition: none;
}

img.producto1-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.producto1:hover img {
  opacity: 0;
}

.producto1:hover img.producto1-hover {
  opacity: 1;
}

/*BLOQUES ABOUT US PAGE*/
.bloque01 {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.body01 {
  font-size: 16px;
}

/*IMAGENES CON HOVER-ABOUTUS*/
.frame1 {
  width: 500px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.frame1 img {
  transition: all linear 0.7s;
}

img.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.frame1:hover img {
  opacity: 0;
}

.frame1:hover img.img-hover {
  opacity: 1;
}

.bloque02 {
  align-content: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}

.body02 {
  text-align: left;
  margin-right: 70px;
  margin-top: 130px;
  margin-left: 15px;
}

.frame2 {
  width: 500px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.frame2 img {
  transition: all linear 0.7s;
}

img.img-hover2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.frame2:hover img {
  opacity: 0;
}

.frame2:hover img.img-hover2 {
  opacity: 1;
}

.bloque03 {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.body03 {
  font-size: 16px;
  margin-top: 160px;
}

.frame3 {
  width: 500px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.frame3 img {
  transition: all linear 0.7s;
}

img.img-hover3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.frame3:hover img {
  opacity: 0;
}

.frame3:hover img.img-hover3 {
  opacity: 1;
}

.video-making {
  align-content: center;
  margin-top: 50px;
  height: 600px;
}

/*index-newsletter*/
.newsletter {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 50px;
}

.bodynews {
  margin-top: 80px;
}

.image-news {
  width: 700px;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.image-news img {
  transition: none;
}

img.image-news-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-news:hover img {
  opacity: 0;
}

.image-news:hover img.image-news-hover {
  opacity: 1;
}

header {
  margin-top: 100px;
}

/*Headers*/
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2 {
  text-align: left;
  font-size: 45px;
  font-weight: 200;
  margin-top: 100px;
  margin-bottom: 8px;
  margin-left: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

p {
  line-height: 20px;
}

/*SALEPAGE*/
.banner-sale {
  margin-bottom: 50px;
}

/*Contact Us*/
.containerform {
  background-color: black;
  padding: 120px;
  margin-bottom: 0px;
}

.darktext1 {
  text-align: left;
  font-size: 60px;
  font-weight: 200;
  margin-top: 140px;
  margin-bottom: 8px;
  margin-left: 50px;
  line-height: 70px;
  color: whitesmoke;
}

.darktext2 {
  margin-left: 50px;
  color: whitesmoke;
}

.form1 {
  margin-top: 50px;
  margin-left: 50px;
  color: whitesmoke;
}

/*Contenido Index*/
.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.flex-item1 {
  width: 460px;
}

.flex-item2 {
  width: 460px;
}

.flex-item3 {
  width: 460px;
}

.flex-item4 {
  width: 460px;
}

#estilo-form {
  margin-left: 30px;
}

.indicador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 85px;
  margin-right: 30px;
  padding-top: 12px;
  border: black solid;
  border-left: none;
  border-right: none;
  border-width: 0.5px;
}

/*Footer*/
#estilos-footer {
  background-color: black;
  padding: 50px;
  margin-top: 100px;
}

.texto-footer {
  color: white;
  text-align: center;
}

.navbar-toggler-icon:active {
  border: none;
}

@media screen and (max-width: 991px) {
  .flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .flex-item1 {
    width: 200px;
  }
  .flex-item2 {
    width: 200px;
  }
  .flex-item3 {
    width: 200px;
  }
  .flex-item4 {
    width: 200px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .newsletter {
    margin-top: 30px;
    margin-left: 20px;
  }
  .bodynews {
    margin-top: 30px;
    margin-top: 20px;
  }
  .video-making {
    align-content: center;
    margin-top: 50px;
    height: 300px;
  }
  .discounts {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .grid-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    column-gap: 1px;
    justify-content: space-between;
    margin-left: 1px;
    place-items: center;
  }
  .grid-shop > div {
    padding: 0px;
  }
  .containerform {
    background-color: black;
    padding: 60px;
    margin-bottom: 0px;
  }
  .darktext1 {
    text-align: left;
    font-size: 60px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 8px;
    margin-left: 10px;
    line-height: 70px;
    color: whitesmoke;
  }
  .darktext2 {
    margin-left: 10px;
    color: whitesmoke;
  }
  .form1 {
    margin-top: 50px;
    margin-left: 10px;
    color: whitesmoke;
  }
}

/*# sourceMappingURL=styles.css.map */
