/*Selector Universal*/
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/*SASS*/
$color-back: black;

@import 'navbar';
@import 'shop';
@import 'aboutus';
@import 'index';


header {
    margin-top: 100px;
}

/*Headers*/
h1 {
    text-align: center;
    font-size: 40px; 
    font-weight: 200;
    margin-top: 60px;
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    font-size: 45px;
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: 8px;
    margin-left: 0px;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

p{
    line-height: 20px;
}

/*SALEPAGE*/

.banner-sale{
    margin-bottom: 50px;
}

/*Contact Us*/

.containerform{
    background-color: $color-back;
    padding: 120px;
    margin-bottom: 0px;
}


.darktext1{
    text-align: left;
    font-size: 60px;
    font-weight: 200;
    margin-top: 140px;
    margin-bottom: 8px;
    margin-left: 50px;
    line-height: 70px;
    color: whitesmoke;
}

.darktext2{
    margin-left: 50px;
    color: whitesmoke;
}

.form1{
    margin-top: 50px;
    margin-left: 50px;
    color: whitesmoke;
}


/*Contenido Index*/
.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.flex-item1 {
    width: 460px;
}

.flex-item2 {
    width: 460px;
}

.flex-item3 {
    width: 460px;
}

.flex-item4 {
    width: 460px;
}






#estilo-form {
    margin-left: 30px;
}

.indicador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 85px;
    margin-right: 30px;
    padding-top: 12px;
    border: black solid;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
}

/*Footer*/
#estilos-footer {
    background-color: black;
    padding: 50px;
    margin-top: 100px;
}
.texto-footer{
    color: white;
    text-align: center;
}

.navbar-toggler-icon:active {
    border: none;
}

@media screen and (max-width: 991px) {

    .flex-container1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    
    .flex-item1 {
        width: 200px;

    }
    
    .flex-item2 {
        width: 200px;
    }
    
    .flex-item3 {
        width: 200px;
    }
    
    .flex-item4 {
        width: 200px;
    }

    h1 {
        text-align: center;
        font-size: 30px; 
        font-weight: 200;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .newsletter {
        margin-top: 30px;
        margin-left: 20px;
    }

    .bodynews{
        margin-top: 30px;
        margin-top: 20px;
    }

    .video-making{
        align-content: center;
        margin-top: 50px;
        height: 300px;
    }


    .discounts {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .grid-shop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        column-gap: 1px;
        justify-content:space-between;
        margin-left: 1px;
        place-items: center;
    }

    
    .grid-shop > div {
        padding: 0px;
    }

    .containerform{
        background-color: $color-back;
        padding: 60px;
        margin-bottom: 0px;
    }
    
    
    .darktext1{
        text-align: left;
        font-size: 60px;
        font-weight: 100;
        margin-top: 50px;
        margin-bottom: 8px;
        margin-left: 10px;
        line-height: 70px;
        color: whitesmoke;
    }
    
    .darktext2{
        margin-left: 10px;
        color: whitesmoke;
    }
    
    .form1{
        margin-top: 50px;
        margin-left: 10px;
        color: whitesmoke;
    }
    
}